.Tip {
  display: grid;
  align-content: stretch;
  grid-template-columns: [col-start] minmax(auto, 300px) repeat(9, 1fr) [log-start] minmax(auto, 160px) [col-end];
  grid-template-rows: [row-start] minmax(auto, 136px) auto 2em [row-end]; }
