.Tip-main {
  display: inline-grid;
  text-align: center;
  grid-area: main;
  padding: 2em;
  box-shadow: inset 2px -2px 3px 0px rgb(156, 156, 156);
  margin: 0;
  #lp_form {
    margin-bottom: 6em;
  }
}
