.Tip-main {
  text-align: center;
  grid-column: 2/-1;
  grid-row: row-start/4;
  padding: 2em;
  margin: 0;
  display: grid;
  grid-template-areas: "scanSection" "resultSection";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(8, 1fr);
  .scan-section {
    grid-area: scanSection;
    align-self: center;
    grid-column: 3/7;
  }
  .result-section {
    grid-area: resultSection;
    align-self: center;
    grid-column: 3/7;
  }
  .scanTitle {
    color: white;
  }
  #lp_form {
    margin-bottom: 6em;
  }
}
