.Tip-main {
  text-align: center;
  grid-column: 2/-1;
  grid-row: row-start/4;
  padding: 2em;
  margin: 0;
  display: grid;
  grid-template-areas: "scanSection" "resultSection";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(8, 1fr); }
  .Tip-main .scan-section {
    grid-area: scanSection;
    align-self: center;
    grid-column: 3/7; }
    .Tip-main .scan-section .previewMode {
      text-align: right; }
      .Tip-main .scan-section .previewMode input::after {
        border: 1px solid #fff;
        width: 14px;
        height: 14px; }
      .Tip-main .scan-section .previewMode input:checked::before {
        left: 5px;
        width: 5px;
        height: 9px; }
  .Tip-main .result-section {
    align-self: center;
    grid-column: 3/7;
    grid-row: 2/3; }
  .Tip-main .scanTitle {
    color: white; }
  .Tip-main #lp_form {
    margin-bottom: 6em; }
