.Tip-header {
  padding: 10px 0 0 10px;
  grid-area: head; }
  .Tip-header .Tip-brand {
    grid-area: brand;
    background-color: #fff;
    color: #6f6f6f;
    padding: 2em; }
    .Tip-header .Tip-brand .Tip-logo {
      height: 80px; }
    .Tip-header .Tip-brand .Tip-logo-text {
      display: inline-block;
      vertical-align: middle; }
      .Tip-header .Tip-brand .Tip-logo-text .Tip-title {
        margin-left: 10px;
        font-size: 1.5em;
        display: inline-block;
        letter-spacing: 1.4em; }
      .Tip-header .Tip-brand .Tip-logo-text .Tip-title-tag {
        font-size: 0.5em;
        display: block; }
  .Tip-header .Tip-menu {
    grid-area: menu;
    background-color: #afafaf; }
